.logincontainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 70%;
}

.loginform {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.logintitle {
	margin-bottom: 27px !important;
}
.loginbtn {
	margin-top: 27px !important;
}
