.addgroupbtn {
	background-color: black;
	width: 100%;
}
.clsnewgroupbtn {
	width: 50%;
	background-color: red !important;
}
.subnewgroupbtn {
	width: 50%;
}
.allgroupbtn {
	border: 4px solid blue !important;
	border-radius: 20px !important;
	display: flex !important;
	justify-content: center !important;
}
