.mainRateField {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
.rateCardsList {
	margin-top: 26px;
}

.paginationBtn {
	margin-left: 6px !important;
	min-height: 30px !important;
}
.pagination {
	margin-top: 3%;
}
