.financearea {
	position: relative;
	width: 100%;
	height: -webkit-fill-available;
	margin-top: 9px;
	margin-bottom: 24px;
}
.financecontent {
	width: 100%;
	height: -webkit-fill-available;
	position: absolute;
	margin-top: 11px;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
}
