html {
	height: 98%;
	width: 99%;
}
body {
	height: 100%;
	width: 100%;
	color: white;
}
#root {
	height: 100%;
	width: 100%;
}

.maincontainer {
	display: flex !important;
	position: relative;
	border: solid 1px;
	box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px, rgba(0, 0, 0, 0.08) 0 0 0 1px;
	border-radius: 10px;
	width: 97% !important;
	margin: auto;
	height: 87%;
	margin-top: 0;
	justify-content: center;
	align-items: center;
}
